/*background color B29800
  paragraph color: FFEC7E
  heading text: 1000B2
*/
body
{
	color: black;
	background-color: tan;
	font-size: 12pt;
	font-family: Calibri, Cambria, Arial, Times New Roman
	text-align: left;
}

p { color: black; font-size: 12pt; text-align: left; }

h1 { font-style: italic; font-weight: bold; color: yellow; text-align: center; }

h2 { font-weight: bold; color: yellow; text-align: center;}

h3 { font-weight: bold; color: yellow; text-align: center;}

.centerImage {text-align: center; display: block;}

.centerText {text-align: center;}

.JD {background-color: yellow;}

.resumeHeader {text-align:left; color: yellow; font-style: italic; text-decoration: underline;}

.centerDiv {
	width: 75% ;
	text-align: leftwards;
	margin-left: auto ;
	margin-right: auto ;
	background-color: green;
	padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
	}
.pictureBorder {
	color: yellow;
}